#flags {
    width: 50%

}

#country-box {
    background-color: white;
    color:navy;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-bottom: 25px;

}